<h1>Artist Album</h1>
{{#each artists}}
<div class="artists"></div>
<div clas="artists-name">
    <div class="artists-name1">
  <p>{{this.name}}</p>
  </div>
  <img src="{{images.0.url}}" />
  <a href="/tracks/{{id}}">View Track</a>
  </div>
  </div>
{{/each}}


