

<div class="px-4 py-5 text-center" id="home-page">


<div class="col-lg-6 mx-auto d-flex">
<form action="/artist-search" method="get">
  <input type="text" name="artistName" />
  <button type="submit" class="btn btn-danger">Search for Artist</button>
</form>

</div>
</div>
